/* Variables */

:root {
    --basic-white: #ffffff;
    --basic-grey: #888888;
    --basic-blue: #81B3D2;
    --basic-navy-blue: #669EC0;
    --basic-dark-blue: #5496BD;
    --basic-black: #000000;
    --basic-dark: #333333;
    --basic-light-grey: #EEEEEE;
    --basic-middle-grey: #F2F2F2;
    --basic-dark-grey: #EBEBEB;
    --basic-light-brown: #766357;
    --basic-brown: #604E43;
    --basic-dark-brown: #503E33;

    --special: #666666;
    --special-grey: #BDBBBC;
    --special-light-grey: #CACACA;
}

/* Fonts */

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans.woff") format("woff"),
         url("../fonts/PTSans.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTSans-Bold.woff") format("woff"),
         url("../fonts/PTSans-Bold.woff2") format("woff2");
         font-weight: 700;
         font-style: bold;
}

/* Global */

.page-body {
  min-width: 960px;
  margin: 0 40px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-dark);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
    text-decoration: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

  /* Grid */

  .page {
    height: 100%;
  }

  /* Main navigation */

.main-navigation {
  margin: 0 auto;
}

.main-header-ligo img {
  display: block;
}

.site-navigation {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.site-navigation a {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  opacity: 0.3;
}

.chosen {
  color: var(--basic-light-brown);
  font-weight: bold;

}

/* Container */

.container {
  /* width: 940px; */
  margin: 0 auto;
  padding: 0 10px;
}

  /* Welcom */

.welcome-line {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

.welcome p {
  text-align: center;
  line-height: 26px;
}

  /* Features */

.features {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 4;
}

.advantages-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 120px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantage-item {
  text-align: center;
}

.advantage-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-black);
}

.advantage-item p{
  padding: 0 45px;
}

.features-list {
  list-style: none;
  padding: 0;    
}


.feature-item-blue {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features-list h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center; 
}

.features-list p {
  text-align: center;
}

.feature-item {
  background-color: var(--basic-light-grey);
}

.feature-item h3 {
  color: var(--basic-black);
  margin: 47px 140px 25px;
}

.feature-item-blue img {
  display: block;
}

.feature-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feature-item-text {
  margin: 23px 100px 54px;
}

  /* Hotel-search */

.hotel-search {
  text-align: center;
}

.hotel-search-question {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: var(--basic-black);
}

.hotel-search-button {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 30px 124px;
}

.hotel-search-button:hover,
.hotel-search-button:focus {
  background-color: var(--basic-brown);
}

.hotel-search-button:active {
  background-color: var(--basic-dark-brown); 
  color: var(--basic-light-brown);
}

.map img {
  display: block;
  width: 100%;
}

  /* Main footer  */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  opacity: 0.9;
  }

.footer-contacts p {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;
}

.footer-phone {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  text-align: center;  
}

.footer-social ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6px;
  list-style: none;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-navy-blue); 
}

.social-button:active {
  background-color: var(--basic-dark-blue); 
  color: var(--basic-blue); 
}

.footer-copyright {
  line-height: 26px;
  color: var(--basic-black);
}

.footer-logo {
  fill: var(--basic-black);
}

.footer-logo:hover,
.footer-logo:focus {
  fill: var(--basic-blue);
}

.footer-logo:active {
  fill: var(--special-grey);
}

  /* Filters */

.filters {
  background-image: url(../img/background_catalog.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


.filter legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.filter ul {
  list-style: none;
}

.filter label {
  color: var(--basic-white);
}

.filter p {
  color: var(--basic-white);
}

.filter-button {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Search-results  */

.search-results span {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: var(--basic-black);
}

.sorting-results {
  color: var(--basic-black);
  font-size: 12px;
  line-height: 18px;
}

.sorting {
  list-style: none;
}

.sorting a {
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: dashed 1px var(--basic-blue);
  padding-bottom: 3px;
}

.sorting a:hover,
.sorting a:focus {
  color: var(--basic-blue);
}

.sorting a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-chosen {
  color: var(--basic-blue);
  border-bottom: none;
}

.sorting-triangle {
  fill: var(--special-light-grey);
}

.sorting-triangle:hover,
.sorting-triangle:focus {
  fill: var(--basic-black);
}

.sorting-triangle:active {
  fill: var(--basic-blue);
}

.sorting-triangle-chosen {
  fill: var(--basic-blue);
}

.results {
  list-style: none;
}

.results a {
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}

.results a:hover,
.results a:focus {
  color: var(--basic-blue);
}

.results a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.result-rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-middle-grey);
  text-align: center;
  color: var(--special);
}

.more-info-button{
  background-color: var(--basic-blue);
  width: 110px;
  height: 27px;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  border: none;
}

.more-info-button:hover,
.more-info-button:focus {
  background-color: var(--basic-navy-blue);
}

.more-info-button:active {
  background-color: var(--basic-dark-blue);
  color: var(--basic-blue);
}

.booking-button {
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  border: none;
}

.booking-button:hover,
.booking-button:focus {
  background-color: var(--basic-brown);
}

.booking-button:active {
  background-color: var(--basic-dark-brown); 
  color: var(--basic-light-brown);
}

